.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: #f3f3f3;
    animation: loader .01s;
    animation-delay: 2.5s;
    animation-fill-mode: both;
    &_contenu{
        display: flex;
        justify-content: space-between;
        font-size: 75px;
    }
    &_1{
        color: $color-primary;
        animation: left 2s;
    }
    &_2{
        color: $color-secondary;
        animation: left 1.5s;
    }
    &_3{
        color: #1C799D;
        animation: left 1s;
    }
    &_4{
        color: $color-tertiary;
        animation: left 0.5s;
    }
}

.localisation{
    font-family: 'Roboto-Bold', sans-serif;
    display: flex;
    background-color: #f3f3f3;
    justify-content: center;
    font-size: 1.1em;
    position: relative;
    padding: 20px;
    &_icon{
        margin-right: 15px;
    }
    &texte{
        font-weight: 500;
    }
}

.intro{
    display: grid;
    position: relative;
    text-align: center;
    justify-items: center;
    background-color: #fafafa;
    &_texte{
        margin-top: -15px;
        font-size: 1em;
        font-weight: 100;
    }
    &_lien{
        width: 200px;
        height: 30px;
        background-color: $color-primary;
        text-decoration: none;
        color: white;
        padding-top: 10px;
        margin-bottom: 50px;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
        }
    &_lien:hover{
        background: linear-gradient(#ff79da, #9356dc);
        -webkit-text-fill-color: text;
        transition-duration: 0.5s;
        box-shadow: 0.50rem 0.50rem 5px rgba(0, 0, 0, 0.25);
    }
}

.tuto{
    margin-left: 25px;
    margin-bottom: 50px;
    &_btn{
        display: flex;
    }
    &_case{
        width: 100%;
        counter-reset: listeCompte;
    }
    &_list{
        width: 100%;
        height: 35px;
        margin-left: -35px;
        margin-bottom: 15px;
        padding-top: 1em;
        background-color: #faf3f3e3;
        list-style: none;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 1px 1px 10px hsl(0, 2%, 74%);
    }
    &_list::before{
        display: flex;
        content: counter(listeCompte) "";
        counter-increment: listeCompte 1;
        color: white;
        background-color: $color-primary;
        justify-content: center;
        height: 20px;
        width: 20px;
        margin-left: -9px;
        position: absolute;
        border-radius: 20px 20px 20px 20px;
    }
    &_color{
        background-color: #FEE7FF;
    }
    &_list:hover{
        cursor: pointer;
        box-shadow: 0.50rem 0.50rem 5px rgba(0, 0, 0, 0.25);
    }
    &_icon{
        color: grey;
        padding-left: 30px;
    }
    &_texte1{
        margin-left: 15px;
        font-weight: bold;
    }
    &_texte2{
        margin-left: 9.5px;
        flex-wrap: wrap;
        font-weight: bold;
    }
    &_texte3{
        margin-left: 6.5px;
        flex-wrap: wrap;
        font-weight: bold;
    }
}

.restaurants{
    background-color: #faf3f3e3;
    padding: 30px;
    position: relative;
}

.resto{
    width: 100%;
    &_cartes{
        display: block;
        width: 100%;
        height: 220px;
        background-color: white;
        margin-bottom: 20px;
        border-radius: 20px 20px 20px 20px;
        text-decoration: none;
        color: black;
        box-shadow: 1px 1px 10px hsl(0, 2%, 74%); 
    }
    &_image{
        width: 100%;
        height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
    &_new{
        position: absolute;
        background-color: $color-tertiary;
        color: green;
        padding: 5px;
        margin-left: -80px;
        margin-top: 10px;
        border-radius: 5px 5px 5px 5px;
    }
    &_contenu{
        display: flex;
        position: relative;
        justify-content: space-between;
    }
    &_texte{
        position: relative;
        left: 15px;
        margin-top: -10px;
    }
    &_texte p{
        margin-top: -10px;
    }
    
    &_icon{
        display: flex;
        position: relative;
        padding-bottom: 65px;
        right: 40px;
    }
    &_icon1{
        position: absolute;
        font-size: 25px;
        bottom: 0.5em;
    }
    &_icon2{
        position: absolute;
        font-size: 27px;
        margin-left: -1px;
        bottom: 0.4em;
        opacity: 0;
    }
    &_icon2:hover{
        background: linear-gradient(50deg, #ff79da, #9356dc);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition-duration: 0.5s;
        opacity: 1;
    }
}

@media screen and (min-width: 1024px){
    .tuto_btn{
        margin-left: -50px;
    }
    .tuto_case{
        display: flex;
    }
    .tuto_list{
        margin-left: 15px;
    }
    .resto_cartes1{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }
    .resto_cartes2{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }
    .resto_cartes{
        width: 45%;
    }
}