.btnrecul_icon{
    color: black;
    text-decoration: none;
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 1em;
}

.banniere_image{
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.menu{
    background-color: #ecefed;
    position: relative;
    padding-left: 20px;
    margin-top: -75px;
    border-radius: 20px 20px 0px 0px;
    h2{
        font-family: 'Shrikhand', cursive;
        padding-top: 20px;
    }
    &_titre{
        flex-wrap: wrap;
    }
    &_icon{
        position: absolute;
        font-size: 25px;
        right: 0.5em;
    }
    &_icon1{
        position: absolute;
        font-size: 25px;
        margin-top: -55px;
        right: 0.1em;
    }
    &_icon2{
        position: absolute;
        font-size: 27px;
        margin-top: -55px;
        right: 0.05em;
        opacity: 0;
    }
    &_icon2:hover{
        background: linear-gradient(50deg, #ff79da, #9356dc);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
        transition: 0.5s;
        opacity: 1;
    }
    &_intro1{
        animation: introApparition 0.5s;
        animation-timing-function: ease-out;
    }
    &_intro2{
        animation: introApparition 1.5s;
        animation-timing-function: ease-out;
    }
    &_intro3{
        animation: introApparition 2.5s;
        animation-timing-function: ease-out;
    }
    &_commande{
        display: flex;
        text-decoration: none;
        color: white;
        justify-content: center;
        padding: 50px;  
    }
    &_btncommande{
        background-color: $color-primary;
        color: white;
        border: 0;
        border-radius: 20px 20px 20px 20px;
        padding: 10px;
        width: 200px;
        font-size: 1em;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
    }
    &_btncommande:hover{
        cursor: pointer;
        background: linear-gradient(0deg, #ff79da, #9356dc);
        transition: 0.5s;
        box-shadow: 0.50rem 0.50rem 5px rgba(0, 0, 0, 0.25);
    }
}

.menu_item{
    cursor: pointer;
    overflow: hidden;
    max-width: 100%;
    margin-top: 10px;
    background-color: white;
    width: 95%;
    height: 60px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 1px 10px hsl(0, 2%, 74%);
    &-texte{
        margin-top: -30px;
        overflow: hidden;
    }
    h5{
        padding-top: 10px;
        padding-left: 10px;
    }
    p{
        font-weight: 300;
        margin-top: -27px;
        padding-left: 10px;
    }
    &-prix{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 10px;
        margin-top: -35px;
    }
    &-valid{
        display: flex;
        position: relative;
        width: 50px;
        height: 60px;
        margin-top: -49.3px;
        left: 380px;
        background-color: $color-tertiary;
        align-items: center;
        justify-content: center;
        border-radius: 0px 20px 20px 0px;
        transition-duration: 0.5s;
    }
    &:hover &-valid{
        left: 288px;
    }
    &-validicon{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        transform: rotate(180deg);
        transition-duration: 0.5s;
    }
    &:hover &-validicon{
        transform: rotate(0deg);
    }
}


@media screen and (min-width: 1024px){
    .menu_intro1, .menu_intro2, .menu_intro3{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .menu_desktop{
        width: 100%;
    }
    .menu_item{
        width: 350px;
        &:hover &-valid{
            left: 300px;
        }
    }
    h4{
        width: 11%;
       margin-right: 15px; 
    }
}