@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 5px;
}

h1 {
  font-family: "Shrikhand", cursive;
  margin: 0;
  position: relative;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.7em;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  position: relative;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  border-bottom: 2px solid #99E2D0;
  width: 11%;
}

h5 {
  font-size: 1em;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
}

.footer {
  font-family: "Roboto", sans-serif;
  display: grid;
  padding: 10px;
  background-color: black;
}
.footer_logo {
  display: grid;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 1.25em;
  margin-left: 10px;
  position: relative;
  color: white;
}
.footer_lien {
  list-style-type: none;
  text-decoration: none;
  color: white;
  margin-left: -30px;
}

.fa-hands-helping {
  margin-right: 5px;
}

.fa-utensils {
  margin-right: 12px;
}

.localisation {
  font-family: "Roboto-Bold", sans-serif;
  display: flex;
  background-color: #f3f3f3;
  justify-content: center;
  font-size: 1.1em;
  position: relative;
  padding: 20px;
}
.localisation_icon {
  margin-right: 5px;
}
.localisationtexte {
  font-weight: 500;
}

.intro {
  display: grid;
  position: relative;
  text-align: center;
  justify-items: center;
  background-color: #fafafa;
}
.intro_texte {
  margin-top: -15px;
}
.intro_lien {
  width: 200px;
  height: 30px;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition-duration: 0.35s;
  text-decoration: none;
  color: white;
  padding-top: 10px;
  margin-bottom: 50px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.intro_lien_lien:hover {
  background-color: #fff;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}

.tuto {
  margin-left: 25px;
  margin-bottom: 50px;
}
.tuto_btn {
  width: 100%;
}
.tuto_case {
  counter-reset: listeCompte;
}
.tuto_list {
  width: 100%;
  height: 35px;
  margin-left: -35px;
  margin-bottom: 15px;
  padding-top: 1em;
  background-color: #faf3f3e3;
  list-style: none;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 1px 1px 10px #bebbbb;
}
.tuto_list::before {
  display: flex;
  content: counter(listeCompte) "";
  counter-increment: listeCompte 1;
  color: white;
  background-color: #9356DC;
  justify-content: center;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 20px;
  border-radius: 20px 20px 20px 20px;
}
.tuto_icon {
  color: grey;
  padding-left: 30px;
}
.tuto_texte {
  padding-left: 20px;
}

.restaurants {
  background-color: #faf3f3e3;
  padding: 30px;
  position: relative;
}

.resto {
  width: 100%;
}
.resto_cartes {
  display: block;
  width: 100%;
  height: 220px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 20px 20px 20px 20px;
  text-decoration: none;
  color: black;
  box-shadow: 1px 1px 10px #bebbbb;
}
.resto_image {
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.resto_new {
  position: absolute;
  background-color: #99E2D0;
  color: green;
  padding: 5px;
  margin-left: -80px;
  margin-top: 10px;
  border-radius: 5px 5px 5px 5px;
}
.resto_texte {
  position: relative;
  margin-left: 10px;
  margin-top: -10px;
}
.resto_texte p {
  margin-top: -10px;
}
.resto_icon {
  position: absolute;
  font-size: 27px;
  margin-left: 270px;
  margin-top: -45px;
}
.resto .fa-heart:hover {
  color: #9356DC;
}

.btnrecul_icon {
  color: black;
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 1em;
}

.banniere_image {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.menu {
  width: 94.7%;
  background-color: #ecefed;
  position: relative;
  padding-left: 20px;
  margin-top: -75px;
  border-radius: 20px 20px 0px 0px;
}
.menu h2 {
  font-family: "Shrikhand", cursive;
  padding-top: 20px;
}
.menu_icon {
  position: absolute;
  font-size: 27px;
  margin-left: 300px;
  margin-top: -55px;
}
.menu_item {
  background-color: white;
  width: 95%;
  height: 60px;
  border-radius: 20px 20px 20px 20px;
}
.menu h5 {
  padding-top: 10px;
  padding-left: 10px;
}
.menu p {
  font-weight: 300;
  margin-top: -20px;
  padding-left: 10px;
}
.menu span {
  position: absolute;
  padding-left: 290px;
  margin-top: -30px;
}
.menu_valid {
  display: flex;
  position: relative;
  width: 50px;
  height: 60px;
  margin-top: -64px;
  margin-left: 200px;
  background-color: #99E2D0;
  align-items: center;
  justify-content: center;
  border-radius: 0px 20px 20px 0px;
  transition-duration: 0.5s;
}
.menu_icon2 {
  color: white;
}
.menu_commande {
  display: flex;
  text-decoration: none;
  color: white;
  justify-content: center;
  padding: 50px;
}
.menu_btncommande {
  background-color: #9356DC;
  color: white;
  border: 0;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
  width: 200px;
  font-size: 1em;
}
.menu_btncommande:hover {
  cursor: pointer;
  background-color: #FF79DA;
}

/*# sourceMappingURL=style.css.map */
